h1 {
  color: blue;
}

img {
  height: 40%;
  width: 70%;
  padding-top: 10%;
}
body {
  background-image: linear-gradient(
    to right,
    #1d0101,
    #324369,
    rgb(72, 117, 188),
    #1d0101
  );
  zoom: 1.25;
}

.card-container {
  cursor: pointer;
  height: 400px;
  width: 400px;
  perspective: 800px;
  position: relative;
  margin: auto;
  transition: ease-in;
}

.card {
  height: 400px;
  width: 400px;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
  transition: all 0.4s ease-in-out;
}

.card .front {
  height: 400px;
  width: 400px;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-color: #dff6ff;
  border-radius: 1.5rem;
}

.card .back {
  height: 400px;
  width: 400px;
  text-align: center;
  transform: rotateY(180deg);
}

.sta {
  color: rgb(24, 133, 75);
  font-size: 2.3em;
  padding-top: 8%;
}

.cap {
  color: rgba(200, 10, 10, 1);
  font-size: 2.3em;
  padding-top: 8%;
}

/* mobile screens */
@media only screen and (max-width: 500px) {
  body {
    zoom: 0.9;
  }
}

@media (hover: hover) {
  .card:hover {
    transform: rotateY(180deg);
    transition: all 0.4s ease-in-out;
  }
  /* Primary Input responds to hover fully, such as a mouse or a Nintendo Wii controller */
}
